@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.w-xs-1,
.w-xs-2,
.w-xs-3,
.w-xs-4,
.w-xs-5,
.w-xs-6,
.w-xs-7,
.w-xs-8,
.w-xs-9,
.w-xs-10,
.w-xs-11,
.w-xs-12,
.w-sm-1,
.w-sm-2,
.w-sm-3,
.w-sm-4,
.w-sm-5,
.w-sm-6,
.w-sm-7,
.w-sm-8,
.w-sm-9,
.w-sm-10,
.w-sm-11,
.w-sm-12,
.w-md-1,
.w-md-2,
.w-md-3,
.w-md-4,
.w-md-5,
.w-md-6,
.w-md-7,
.w-md-8,
.w-md-9,
.w-md-10,
.w-md-11,
.w-md-12,
.w-lg-1,
.w-lg-2,
.w-lg-3,
.w-lg-4,
.w-lg-5,
.w-lg-6,
.w-lg-7,
.w-lg-8,
.w-lg-9,
.w-lg-10,
.w-lg-11,
.w-lg-12,
.w-xl-1,
.w-xl-2,
.w-xl-3,
.w-xl-4,
.w-xl-5,
.w-xl-6,
.w-xl-7,
.w-xl-8,
.w-xl-9,
.w-xl-10,
.w-xl-11,
.w-xl-12 {
  padding: 0;
}

.black {
  color: #515151;
}

.blue {
  color: #43d5cb;
}

.gray {
  color: #9b9b9b;
}

.orange {
  color: #e4573d;
}

.bg-blue {
  background-color: #43d5cb !important;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.Lexend {
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.w-12 {
  width: 100%;
}

.w-6 {
  width: 50%;
}

.w-8 {
  width: 66.6666%;
}

.w-1 {
  width: 8.3333%;
}

.w-11 {
  width: 91.6666%;
}

.w-2 {
  width: 16.6666%;
}

.w-10 {
  width: 83.3333%;
}

.w-9 {
  width: 95%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
}

p, span {
  font-size: 16px;
  color: #9b9b9b;
  font-family: "Lexend Deca", sans-serif;
}

.text-center {
  text-align: center;
}

.position {
  position: relative;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: start;
}

.align-item-end {
  align-items: end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.full-screen {
  max-width: 100% !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
  padding: 0 15px;
}

img {
  width: 100%;
  display: block;
}

.button1 {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #43d5cb;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.button1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.position {
  position: relative;
}

i {
  cursor: pointer;
}

.p-left {
  padding-left: 15px;
}

.icon-effect1 {
  font-size: 18px;
}

.icon-effect1:hover {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.p-15 {
  padding: 15px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header1 {
  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: white;
}
.header1 .first {
  padding: 20px 0;
}
.header1 .first .w-100 {
  padding: 0;
}
.header1 .first .info {
  padding: 0;
}
.header1 .first .info i {
  font-size: 18px;
  padding-right: 10px;
  color: #43d5cb;
  transition: all 0.4s;
}
.header1 .first .info i:hover {
  color: #515151;
}
.header1 .first .info span {
  color: #515151;
}
.header1 .first .info ul li:first-child {
  padding: 5px 20px 5px 0;
  border-right: 1px solid #9b9b9b;
}
.header1 .first .info ul li:last-child {
  padding: 5px 0 5px 20px;
}
.header1 .first .icon {
  padding: 0;
}
.header1 .first .icon i {
  font-size: 18px;
  padding-left: 15px;
  color: #43d5cb;
  transition: all 0.4s;
}
.header1 .first .icon i:hover {
  color: #515151;
}

header {
  width: 100%;
  background-color: white;
}
header .container1 {
  border-bottom: 1px solid #9b9b9b;
}
header i {
  font-size: 20px;
  color: black;
  display: none;
}
header .second div {
  padding: 0;
}
header .second img {
  padding: 15px 0;
  width: 80%;
}
header .second .bar {
  display: none;
}
header .second ul {
  display: show;
}
header .second ul .bar {
  display: none;
}
header .second ul li:nth-child(3):hover .toggle-menu {
  display: block;
}
header .second ul li a {
  padding: 28px 20px;
  color: #515151;
  transition: all 0.5s;
}
header .second ul li a i {
  color: #515151;
  font-size: 14px;
  padding-left: 5px;
  transition: all 0.5s;
}
header .second ul li a:hover i {
  color: #43d5cb;
}
header .second ul li a:hover {
  color: #43d5cb;
}
header .second ul li .toggle-menu {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 81px;
  z-index: 2;
  display: none;
}
header .second ul li .toggle-menu a {
  font-weight: 500;
  color: #515151;
  padding: 5px 30px;
}
header .second ul li .toggle-menu li:hover {
  background-color: #43d5cb;
}
header .second ul li .toggle-menu li:hover a {
  color: white;
}
header .second .icon i {
  font-size: 18px;
  padding-left: 15px;
  color: #43d5cb;
  transition: all 0.4s;
}
header .second .icon i:hover {
  color: #515151;
}

.slider .bg {
  background-image: url(../img/32.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.slider .bg .owl-theme .owl-dots {
  display: block;
  padding-bottom: 30px;
}
.slider .bg .owl-theme .owl-dots span {
  background-color: white;
}
.slider .bg .owl-theme .owl-dots .owl-dot.active span {
  background-color: #43d5cb;
}
.slider .bg .color-overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
}
.slider .bg .details h2 {
  font-weight: 700;
  font-size: 45px;
  padding: 15px 20px 15px 0;
  line-height: 50px;
}
.slider .bg .second {
  padding: 60px 0 40px 0;
}
.slider .bg .second .service {
  padding: 20px 0;
}
.slider .bg .second .service p {
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding: 4px 300px 0 0;
}
.slider .bg .second .service .row {
  padding: 10px 0;
}
.slider .bg .second p {
  font-size: 14px;
  color: white;
  font-weight: 400;
}
.slider .bg .second img {
  padding-top: 8px;
}
.slider .bg .second h4 {
  font-size: 20px;
  font-weight: 500;
}
.slider .bg .second .icon {
  margin-top: 8px;
  width: 35px;
  height: 35px;
  background-color: #43d5cb;
  border-radius: 100%;
  text-align: center;
}
.slider .bg .second .icon i {
  font-size: 18px;
  line-height: 35px;
  color: white;
}

.sec2 {
  padding: 100px 0;
  background-color: #CDF4F1;
}
.sec2 .second .one-p {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
}
.sec2 .second .one-p .w-100 img {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sec2 .second .two-p button {
  background-color: #43d5cb;
  color: white;
}
.sec2 .second .two-p .w-100 {
  text-align: right;
}
.sec2 .second .two-p p {
  color: #43d5cb;
}
.sec2 .second .two-p h2 {
  font-size: 45px;
  line-height: 50px;
}
.sec2 .second .two-p h4 {
  color: #43d5cb;
}
.sec2 .second .two-p .details {
  position: absolute;
  top: 75px;
  left: -55px;
}
.sec2 p {
  font-weight: 600;
}
.sec2 button {
  padding: 6px 15px;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 20px;
  font-size: 14px;
  background-color: white;
  color: #43d5cb;
}
.sec2 button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sec2 .details {
  position: absolute;
  top: 75px;
  left: 55px;
}
.sec2 .details p {
  color: white;
}
.sec2 .details h2 {
  font-size: 45px;
  line-height: 50px;
}
.sec2 .details h4 {
  color: white;
}

.sec1 {
  background-color: #2b3447;
  padding-top: 85px;
}
.sec1 .container .row {
  padding: 70px 0;
}
.sec1 .container .row span {
  margin-bottom: 10px;
}
.sec1 .container .row h1 {
  font-size: 56px;
  padding: 30px 0;
  padding-right: 20px;
}
.sec1 .container .row p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.s-products {
  background-color: #CDF4F1;
  padding: 70px 0;
}
.s-products h2 {
  font-weight: 700;
}
.s-products .line {
  font-size: 14px;
  padding: 0 80px;
}
.s-products .second {
  padding-top: 30px;
}
.s-products .second .second-btn {
  padding: 10px 20px;
  margin-top: 15px;
  display: none;
}
.s-products .second .card {
  position: relative;
  padding: 15px 0;
}
.s-products .second .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.s-products .second .card .price {
  padding: 5px 0;
  height: 88px;
  background-color: #43d5cb;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden;
}
.s-products .second .card .price h4 {
  padding: 0 30px;
  line-height: 25px;
}
.s-products .second .card .price:hover {
  padding: 25px 0;
}
.s-products .second .card .price:hover button {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}
.s-products .second .card .price:hover h4 {
  display: none;
}
.s-products .second .card .price:hover p {
  display: none;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.s-products .second .card .price p.orange {
  padding-top: 5px;
}
.s-products .second .card .price button {
  padding: 10px 20px;
  display: none;
  background-color: white;
  color: #43d5cb;
  margin: auto;
}
.s-products .second .card .i-button2 {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #43d5cb;
  border-radius: 100%;
  text-align: center;
  top: 27px;
  right: 28px;
}
.s-products .second .card .i-button2 i {
  font-size: 16px;
  color: white;
  line-height: 23px;
}

.team {
  background-color: white;
}
.team .second {
  padding-top: 50px;
}
.team .second .Image img {
  border-radius: 100%;
  width: 80%;
  margin: auto;
}
.team .second .last {
  display: none;
}
.team .second .last .button1 {
  background: none;
  color: #43d5cb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.team .second .last .button1 i {
  margin-left: 8px;
  transition: all 0.4s;
}
.team .second .last .button1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.team .second .last .button1:hover i {
  margin-left: 15px;
  transform: translateX(5px);
}
.team .second h3 {
  font-size: 25px;
  line-height: 30px;
  padding-top: 15px;
}
.team .second .button1 {
  padding: 6px 22px;
  margin-top: 15px;
}
.team .second h4 {
  font-size: 18px;
  font-weight: 500;
}
.team .second p {
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}
.team .second .icon {
  padding-top: 15px;
}
.team .second .icon i {
  font-size: 20px;
  color: #43d5cb;
  transition: all 0.4s;
}
.team .second .icon i:hover {
  color: #515151;
}

.services-1 .second .card {
  padding: 0 15px;
}
.services-1 .second .card .new {
  position: relative;
}
.services-1 .second .card .new img {
  box-shadow: none;
}
.services-1 .second .card .new .icon {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -44px;
  left: 0;
  right: 0;
  margin: auto;
}
.services-1 .second .card .w-100 {
  padding: 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.services-1 .second .card p {
  font-size: 14px;
  text-align: center;
  padding: 5px 40px 30px 40px;
  line-height: 18px;
}
.services-1 .second .card h4 {
  padding-top: 50px;
}
.services-1 .second .button {
  padding: 20px 0;
  display: none;
}
.services-1 .second .button .button1 {
  background: white;
  color: #43d5cb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
}
.services-1 .second .button .button1 i {
  margin-left: 8px;
  transition: all 0.4s;
}
.services-1 .second .button .button1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.services-1 .second .button .button1:hover i {
  margin-left: 15px;
  transform: translateX(5px);
}

.live {
  background-color: white;
}
.live .second .card {
  margin-right: 30px;
  padding: 0;
  border-radius: 20px;
}
.live .second .card .w-100 {
  padding: 0px;
  background-color: white;
  border-radius: 20px;
}
.live .second .card .w-100 img {
  border-radius: 20px;
  box-shadow: none;
  padding: 10px;
  background-color: #43d5cb;
}
.live .second .card .w-100 p {
  padding-bottom: 12px;
}
.live .second .card .w-100 .border {
  justify-content: center;
  display: flex;
}
.live .second .card .w-100 .border .box {
  background-color: #9b9b9b;
  width: 180px;
  opacity: 0.3;
  height: 2px;
}
.live .second .card .w-100 button {
  padding: 8px 25px;
  font-size: 14px;
  margin-top: 12px;
}
.live .second .card .w-100 button i {
  padding-left: 8px;
}
.live .second .card .w-100 .b2 {
  padding: 8px 16px;
}
.live .second .card-2 {
  margin-left: 30px;
  margin-right: 0px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.live .second .card-2 .w-100 {
  padding: 40px 50px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.services-2 .second .card {
  padding: 0 15px;
}
.services-2 .second .card .new {
  position: relative;
}
.services-2 .second .card .new img {
  box-shadow: none;
}
.services-2 .second .card .new .icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: #43d5cb;
  position: absolute;
  bottom: -20px;
  left: 15px;
  margin: 0;
  text-align: center;
}
.services-2 .second .card .new .icon i {
  font-size: 20px;
  color: white;
  line-height: 40px;
}
.services-2 .second .card .w-100 {
  padding: 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.services-2 .second .card .w-100 .content {
  padding: 40px 30px 30px 30px;
}
.services-2 .second .card .w-100 .content i {
  padding-right: 3px;
}
.services-2 .second .card .w-100 .content h4 {
  padding: 5px 0;
}
.services-2 .second .card .w-100 .content button {
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
.services-2 .second .card p {
  font-size: 14px;
  text-align: left;
  padding: 0;
}
.services-2 .second .button {
  padding: 20px 0;
  display: none;
}
.services-2 .second .button .button1 {
  background: white;
  color: #43d5cb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;
}
.services-2 .second .button .button1 i {
  margin-left: 8px;
  transition: all 0.4s;
}
.services-2 .second .button .button1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.services-2 .second .button .button1:hover i {
  margin-left: 15px;
  transform: translateX(5px);
}

.second-slider .owl-theme .owl-dots {
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}
.second-slider .owl-theme .owl-dots span {
  background-color: rgb(146, 146, 146);
  padding: 6px;
}
.second-slider .owl-theme .owl-dots .owl-dot.active span {
  background-color: #43d5cb;
  padding: 6px;
}
.second-slider .services-1 {
  padding: 30px;
}
.second-slider img {
  border-radius: 100%;
  padding: 15px;
}
.second-slider h4 {
  display: block;
  font-size: 22px;
  text-align: center;
}
.second-slider p {
  text-align: center;
  padding-top: 8px;
}
.second-slider .w-100 {
  width: 100%;
}

.appointment {
  padding-top: 70px;
}
.appointment .row .img img {
  size: 400px;
}
.appointment .row .form h4 {
  font-size: 25px;
}
.appointment .row .form h2 {
  font-size: 50px;
  font-weight: 700;
}
.appointment .row .form p {
  padding: 10px 0 0 0;
  text-align: justify;
}
.appointment .row .form ul {
  padding-top: 20px;
  padding-right: 15px;
}
.appointment .row .form ul li input[type=text] {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  height: 50px;
  width: 100%;
  padding: 6px 12px;
  display: block;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 20px rgba(85, 85, 85, 0.2);
}
.appointment .row .form ul ::-webkit-input-placeholder {
  color: #9b9b9b;
}
.appointment .row .form ul:last-child li {
  margin-top: 20px;
}
.appointment .row .form .button {
  padding-top: 40px;
}

footer {
  padding: 40px 0;
  background-color: #CDF4F1;
}
footer .first img.logo {
  width: 152px;
  padding-top: 7px;
}
footer .first h2 {
  font-size: 26px;
  margin-bottom: 24px;
}
footer .first h4 {
  font-size: 25px;
  font-weight: 700;
  color: #515151;
  position: relative;
  padding-bottom: 20px;
}
footer .first h4::after {
  content: "";
  width: 55px;
  height: 5px;
  background-color: #43d5cb;
  position: absolute;
  bottom: 10px;
  left: 0;
}
footer .first .small-img {
  border-radius: 10px;
}
footer .first img.small-img {
  width: 70px;
}
footer .first .details p {
  margin: 0;
  padding: 0;
}
footer .first .details {
  padding-left: 0px;
}
footer .first span {
  font-size: 14px;
}
footer .first .one {
  padding-top: 15px;
}
footer .first .two {
  padding-top: 15px;
}
footer .first p {
  line-height: 24px;
  margin-right: 10px;
  padding-top: 30px;
}
footer .first .price {
  color: #e4573d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
footer .first .services {
  padding-top: 10px;
}
footer .first .services li {
  line-height: 30px;
}
footer .first .services a {
  color: #9b9b9b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: all 0.5s;
}
footer .first .services a:hover {
  color: #43d5cb;
}

.last-sec {
  background-color: #43d5cb;
}
.last-sec .first {
  padding: 25px 0;
}
.last-sec .first p {
  color: #515151;
}
.last-sec .first a:hover {
  color: white;
}
.last-sec .first a {
  transition: all 0.4s;
}
.last-sec .first .Privacy li {
  margin-left: 25px;
}
.last-sec .first .Privacy a {
  color: black;
  font-weight: 600;
  transition: all 0.5s;
}
.last-sec .first .Privacy a:hover {
  color: #43d5cb;
}
.last-sec .first .icon {
  padding: 0;
}
.last-sec .first .icon i {
  font-size: 16px;
  color: #43d5cb;
  transition: all 0.4s;
  background-color: #515151;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: auto;
  line-height: 35px;
  text-align: center;
}
.last-sec .first .icon i:hover {
  background-color: white;
  color: #515151;
}

.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #CDF4F1;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  color: #43d5cb;
  border: none;
  font-size: 15px;
  display: none;
  cursor: pointer;
  z-index: 99999;
}

.owl-nav {
  display: none;
}

.owl-theme .owl-dots {
  display: none;
}

.breadcrumbs {
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-size: 40px;
  z-index: 11;
}

.popular {
  background-color: #CDF4F1;
  border-bottom: 2px solid rgb(194, 194, 194);
  padding: 50px 0;
}
.popular h2 {
  font-weight: 700;
}
.popular .line {
  font-size: 14px;
}
.popular .boxes {
  padding-top: 30px;
}
.popular .boxes .box {
  padding: 15px;
}
.popular .boxes .w-100 {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.popular .boxes h4 {
  font-size: 25px;
  padding-top: 10px;
}
.popular .boxes .button1 {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 15px;
}
.popular .boxes p {
  padding: 10px 10px 0 10px;
}
.popular .boxes img {
  width: 90px;
  padding-top: 10px;
  margin: auto;
}

.blog {
  padding: 80px 0;
  background-color: rgb(240, 240, 240);
}
.blog .row:last-child {
  padding-top: 30px;
}
.blog img {
  border-radius: 20px;
}
.blog .details h4 {
  font-size: 30px;
}
.blog .details p.two {
  padding-top: 15px;
}
.blog .details p.one {
  padding-top: 5px;
}
.blog .details button {
  padding: 10px 20px;
  margin-top: 15px;
}

.values {
  padding: 60px 0;
}
.values h2 {
  font-size: 55px;
  font-weight: 700;
  position: relative;
}
.values h2::after {
  content: "";
  width: 170px;
  height: 5px;
  background-color: #43d5cb;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.values .second {
  padding: 30px 0;
}
.values .second .value {
  padding-top: 30px;
}
.values .second p {
  font-size: 16px;
}
.values .second img {
  padding-top: 8px;
}
.values .second h4 {
  font-size: px;
}
.values .second .details {
  padding-left: 25px;
}

.contact {
  padding: 60px 0;
  padding-bottom: 30px !important;
  background-color: rgb(255, 255, 255);
}
.contact h2 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.contact h2::after {
  content: "";
  width: 140px;
  height: 4px;
  background-color: #43d5cb;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
}
.contact .second {
  padding: 40px 10px;
}
.contact .second .box {
  padding: 20px 0px;
}
.contact .second .icon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #515151;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.contact .second .icon i {
  color: #43d5cb;
}
.contact .second h4 {
  padding: 10px 0 5px 0;
  font-weight: 700;
  color: #43d5cb;
}
.contact .second p {
  text-align: center;
  color: #515151;
}

.form-map {
  padding: 80px 0;
  background-color: #CDF4F1;
  border-bottom: 2px solid rgb(194, 194, 194);
}
.form-map .map iframe {
  border-radius: 20px;
}
.form-map h2 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.form-map h2::after {
  content: "";
  width: 140px;
  height: 4px;
  background-color: #43d5cb;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.form-map .form h4 {
  font-size: 25px;
}
.form-map .form h2 {
  font-size: 50px;
  font-weight: 700;
}
.form-map .form p {
  padding: 10px 0 0 0;
  text-align: justify;
}
.form-map .form .details {
  padding: 25px 0;
}
.form-map .form ul {
  padding-right: 15px;
}
.form-map .form ul li input[type=text] {
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  height: 50px;
  width: 100%;
  padding: 6px 12px;
  display: block;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 20px rgba(85, 85, 85, 0.2);
  margin-top: 20px;
  position: relative !important;
}
.form-map .form ul .Message input[type=text] {
  height: 85px !important;
}
.form-map .form ul ::-webkit-input-placeholder {
  color: #9b9b9b;
}
.form-map .form .button a {
  padding: 10px 25px;
}

.shop {
  padding: 100px 0;
  background-color: #CDF4F1;
}
.shop .one-p {
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}
.shop .one-p .w-100 img {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.shop p {
  font-weight: 600;
}
.shop button {
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 10px;
}
.shop button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.shop .details {
  position: absolute;
  top: 50px;
  left: 30px;
}
.shop .second .one-p {
  position: relative;
  overflow: hidden;
}
.shop .second .i-button {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #43d5cb;
  border-radius: 100%;
  text-align: center;
  top: 22px;
  right: 22px;
  display: none;
}
.shop .second .i-button i {
  font-size: 16px;
  color: white;
  line-height: 23px;
}

.our-products {
  background-color: white;
}
.our-products .line {
  font-size: 14px;
  padding: 0;
}
.our-products .second {
  padding: 15px 0;
}
.our-products .third .border {
  padding: 15px;
  border-bottom: 2px solid #9b9b9b;
}
.our-products .many-button {
  padding-top: 30px;
}
.our-products .button1 {
  padding: 8px 18px;
  border-radius: 8px;
}
.our-products .bg-gray {
  background-color: #9b9b9b;
  margin-left: 15px;
}/*# sourceMappingURL=custom.css.map */